.rgdpstxTabs {
  position: relative;   
  min-height: 200px;
  clear: both;
  margin: 25px 0;
}
.rgdpstxTab {
  float: left;
}
.rgdpstxTab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.rgdpstxTab [type=radio] {
  display: none;   
}
.rgdpstxContent {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .rgdpstxContent {
  z-index: 1;
}