.bar
{
width:225px;
}

#left
{
float:left;
background-color: white;
height:100% 
}

#right
{
float:right;
background-color: white;
height:100% 
}

#center
{
margin-left:225px;
margin-right:130px;
height:100%;
}

.inner
{
  padding:20px;
}
.input
{
  float:left;
  width:50%;
  margin-right:5px;
}
.output
{
  float:left;
  width:49%;
}
#thePanel
{
  border-bottom:1px solid #dfdfdf;
  background:white;
  display:none;
  width:100%;
  height:220px;
  position:absolute;
  top:0;
  z-index:9001;
}
#transformed
{
  height:175px;
  overflow-y:scroll;
}
.btn-long
{
  margin:25px 0;
  width:200px;
}
.btn-short
{
  margin:20px 0;
  width:100px;
}

#addFriend {
  margin-top: 5px;
}