#select-friend-table tr .ui-selecting {
  background: #FECA40; 
}

#select-friend-table .ui-selected {
  background: #F39814; 
  color: white;
}

#select-friend-table { 
  margin: 0; 
  padding: 0; 
  border: 0;
  border-spacing: 0;
}

.ui-dialog {
  z-index: 654321 !important;
}
/*
.ui-effects-wrapper {
  z-index: 123456;
}
*/
.ui-widget-overlay {
  z-index: 654320 !important;
}

.rgdpstksDialog{
  /*font:15px sans-serif;*/
}

#set-passphrase {
  z-index: 99998 !important;
}
