#select-friend-table tr .ui-selecting {
  background: #FECA40; 
}

#select-friend-table .ui-selected {
  background: #F39814; 
  color: white;
}

#select-friend-table { 
  margin: 0; 
  padding: 0; 
  border: 0;
  border-spacing: 0;
  cursor: pointer;
}

#select-friend-table  td{
  overflow: hidden !important;
  word-wrap: break-word !important; 
  text-overflow: ellipsis !important;
  width: 50px !important;
} 

#select-friend-table  th:first{
  padding-left: 0px !important;
  padding-right: 5px;
} 

#select-friend-table  th{
  padding-right: 10px;
} 

.ui-dialog {
  z-index: 654321 !important;
}
/*
.ui-effects-wrapper {
  z-index: 123456;
}
*/
.ui-widget-overlay {
  z-index: 654320 !important;
}

.rgdpstksDialog{
  /*font:15px sans-serif;*/
}

#set-passphrase {
  z-index: 99998 !important;
}
