/* Append everything with rgdpstks to not interfere with page content */

#content-rgdpstks {
	height: 600px;
	position: top;
	overflow: hidden;
	background-color: #FAFAFA;
	border: 5px solid #000000;
}
#panel-rgdpstks {
	width: 97.5%;
  padding-left: 1%;
  padding-right: 1%;
	height: 300px;
	position: absolute;
	top: -300px;
	left: 0px;
	z-index: 20;
	background-color: #FFFFFF;
  border-style:groove;
  border-color:#999999;
  border-width: 5 px
}
#panel-drop-rgdpstks {
	width: 20;
	height: 20px;
	position: absolute;
	bottom: -20px;
	margin-left: 50px;
	background-color: #000000;
	text-decoration: none;
	color: #FFFFFF;
  text-align: center;
}
#panel-tab-rgdpstks:focus {
	outline: none;
}

p#p-rgdpstks {
  text-align: center;
}